body {
	padding-top: 70px;
}

.hype-logo {
	display: inline-block;
	width: 52px;
	height: 52px;

	margin-top: -10px;
	vertical-align: top;

	background: transparent url('/img/logo-139x52.png') center 0 no-repeat;
}

.navbar .brand {
	margin-left: 0;
	padding: 10px 5px;
}

.navbar a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	height: 52px;
	line-height: 34px;
}

	.nav .active a,
	.nav .active a:hover,
	.nav .active a:focus {
		border-bottom: 3px solid #DD0000;
	}

	.nav a:hover {
		border-bottom: 3px solid #990000;
	}

.hero-unit {
	padding: 30px;
	padding-bottom: 10px;
}

.output-pane {}

	.new-message {
		background: #efefef;
	}

	@keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@-webkit-keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	.new-message {
		border-bottom: 3px solid #666;

		animation: fadeIn 1s;
		-webkit-animation: fadeIn 1s;
	}

.float-left {
	float: left;

	margin-right: 10px;
}

.nav-tabs a:focus {
	outline: none !important;
}

.peer {
	margin: 0 0 10px;
	padding: 5px 0;
}

	.peer:hover {
		background: #f6f6f6;
	}

	.peer-host-block {
		padding: 0 10px;
	}

	.peer-removed .peer-host,
	.peer-removed .peer-info {
		opacity: 0.4;
	}

		.peer-revert,
		.peer-delete-forever {
			display: none;
		}

		.peer-removed .peer-revert,
		.peer-removed .peer-delete-forever {
			display: inline-block;
		}

		.peer-removed .peer-delete {
			display: none;
		}

	.peer-info {
		padding-left: 40px;
	}

	.peer-input {
		padding: 1px 5px 4px;

		background: transparent;
		border: 1px solid transparent;
		box-shadow: none;

		cursor: pointer;
	}

		.peer-input:focus {
			background: #fff;
			border: 1px solid #ccc;
			box-shadow: inset 1px 1px 2px rgba(0,0,0,0.20);

			cursor: text;
		}

.message {
	color: #898989;
}

	.message-text {
		color: #000;
	}

.select-offset {
	padding-left: 30px;
}