[Unit]
Description=A routing engine designed for security, scalability, speed and ease of use

[Service]
Type=oneshot
GuessMainPID=yes
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/scripts/cjdns start
ExecStop=/usr/lib/systemd/scripts/cjdns stop

[Install]
WantedBy=multi-user.target
