[Unit]
Description=Restart Bonsai on resume from sleep
After=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart bonsai

[Install]
WantedBy=sleep.target
