[Unit]
Description=cjdns: routing engine designed for security, scalability, speed and ease of use
Wants=network.target
After=network.target

[Service]
ProtectHome=true
ProtectSystem=true
SyslogIdentifier=cjdroute
ExecStartPre=/bin/sh -ec "if ! test -s /etc/cjdroute.conf; \
                then umask 077; \
                /usr/bin/cjdroute --genconf > /etc/cjdroute.conf; \
                echo 'WARNING: A new /etc/cjdroute.conf file has been generated.'; \
            fi"
ExecStart=/bin/sh -c "exec cjdroute --nobg < /etc/cjdroute.conf"
Restart=always

[Install]
WantedBy=multi-user.target
Also=cjdns-resume.service
