/build_android
/build_linux
/build_freebsd
/build_openbsd
/build_win32
/build_darwin
/build_sunos
/benc2json*
/cjdroute*
/cleanconfig*
/privatetopublic*
/publictoip6*
/sybilsim*
/makekeys*
/mkpasswd*
/node_build/node_modules/jshint
/node_build/node_modules/.bin
/randombytes*
/testcjdroute*
*.pyc
.clang_complete
*~
.DS_Store
/node_modules/jshint
/node_modules/.bin
/contrib/docker/cjdns*/
