language: c
branches:
  only:
    - crashey
    - master

compiler:
  - gcc
  - clang

# 3 profiles for clang and gcc
env:
  - CJDNS_BUILD=default
  - CJDNS_BUILD=subnode
  - CJDNS_BUILD=android

script:
  - uname -a
  - echo $CJDNS_BUILD
  - test "$CJDNS_BUILD" = "default" && ./do
  - test "$CJDNS_BUILD" = "subnode" && SUBNODE=1 ./do
  - test "$CJDNS_BUILD" = "android" && ./android_do

matrix:
  include:
    - name: "check js"
      script:
        - "bash node_build/run_jshint"
    - name: "AddressSanitizer"
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - llvm-5.0-dev
            - clang-5.0
            - libclang-common-5.0-dev
      script:
        - export CC=clang
        - export CXX=clang++
        - export PATH=/usr/lib/llvm-5.0/bin/:$PATH
        - export CFLAGS=-fsanitize=address
        - export LDFLAGS=-fsanitize=address
        - export ASAN_SYMBOLIZER_PATH=/usr/lib/llvm-5.0/bin/llvm-symbolizer
        - ./do
        - ./build_*/test_testcjdroute_c | while read x; do test "$x" != "" && bash -c $x >/dev/null || exit 100; done