#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
	export PLATFORM="${DEB_BUILD_ARCH_OS}"
	export MARCH="${DEB_HOST_GNU_CPU}"
	# work around cjdns being unspecific about x86 compiler targets such as i686
	echo "${DEB_HOST_GNU_CPU}" | grep -q 'i.86' && export MARCH="x86"
	./do

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=cjdns-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/cjdns
